h1{
    color:orangered
  }
  
    
  
  .header{
      background-color: yellow;
      display : flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items:center
  }

  .grid{
     
      position:relative;
      justify-content: space-evenly;
  }


  .grid p{
position:absolute;
color:orangered;
transform:translate(-50%,-50%);
top:50%; 
left:50% ;
opacity:0
  }


  .grid:hover p{
    opacity:1
  }

.grid:hover img{
  opacity: 0.33;
}
  .item {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;

  }


  .footer {
    display: flex;
    justify-content: flex-end;
    
  }
  .footer img {
    border-radius:  30%;

  }
  p,h2{
      text-align:center
  }
  body {
    background:linear-gradient(to left, white, orange, white)
  }
  .menu{
    margin:30px;
    padding:30px
  }
  a:link{
    color:orange
  }
  a:visited{
    color:blue
  }